@import "../../variables.scss";

.Burger {
  padding: 20px;
  border: none;
  background-color: $dark;
  border-radius: 0;
  cursor: pointer;
  user-select: none;

  position: absolute;
  top: 10px;
  right: -10px;
  transform: translate(100%, 0);
  img {
    transition: transform 200ms ease-out;
  }
}

.Burger:hover {
  background-color: $primary;
  img {
    filter: brightness(0);
  }
}
