@import "../../variables.scss";

.Burger {
  padding: 20px;
  background-color: $dark;
  border: none;
  border-radius: 0;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
  img {
    transition: transform 200ms ease-out;
  }
}

.Burger.active img {
  transform: rotate(90deg);
}

.Burger:hover {
  filter: brightness(150%);
}
