@import "../../variables.scss";

.Toolbar {
  position: relative;
  background-color: $dark;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 20px 0;
  & > div {
    cursor: pointer;
    user-select: none;
    margin: 0px 10px;
    img {
      max-width: 100%;
      max-height: 100%;
      width: 25px;
    }
    &:hover img {
      filter: brightness(150%);
    }
  }
}
