@import "../../variables.scss";

.SidebarFile {
  padding: 10px;
  // Placeholder color
  background-color: $darker;
  color: $primary;
  margin: 2px 0;
  font-family: $font-family;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  transition: background-color 200ms ease-out;
  &:hover {
    // Placeholder color
    background-color: gray;
  }
}

.SidebarFile-delete {
  display: flex;
  cursor: pointer;
  margin-left: 20px;
  img {
    transition: transform 200ms ease-out;
    width: 15px;
  }
  &:hover img {
    transform: rotate(90deg);
  }
}

.SidebarFile.active {
  background-color: gray;
}
