@import "../../variables.scss";

.SidebarFile {
  padding: 10px;
  // TODO: Find better background-color for files?
  background-color: $dark;
  color: $primary;
  font-family: $font-family;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  transition: background-color 200ms ease-out;
  &:hover {
    background-color: $primary;
    color: $darker;
    .delete img {
      filter: grayscale(100%) brightness(0);
    }
  }
}

.delete {
  display: flex;
  cursor: pointer;
  margin-left: 20px;
  img {
    transition: transform 200ms ease-out;
    width: 15px;
  }
  &:hover img {
    transform: rotate(90deg);
  }
}

.SidebarFile.active {
  background-color: $primary;
  color: $darker;
  .delete img {
    filter: grayscale(100%) brightness(0);
  }
}
