@import "../../variables.scss";

.SidebarUploader {
  position: relative;
  user-select: none;
}

.picker input {
  display: none;
}

.picker-button {
  position: relative;
  background-color: $primary;
  color: black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  font-family: $font-family;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: $darker;
    height: 350%;
    width: 150%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 100ms ease-out;
  }
  span {
    // Needed because only elements with non-static position are affected by z-index,
    // and we want span to appear above ::before
    position: relative;
  }
}

@media (hover: hover) and (pointer: fine) {
  .picker-button:hover {
    transition: color 100ms ease-out;
    color: white;
    &::before {
      transform: translate(-50%, -50%) scale(1);
      transition: transform 100ms ease-out;
    }
  }
}

.dropper {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  visibility: hidden;
}
