@import "../../variables.scss";

.SidebarUploader {
  position: relative;
  user-select: none;
}

.picker input {
  display: none;
}

.picker-button {
  position: relative;
  background-color: $primary;
  color: black;
  padding: 20px;
  // margin: 20px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  font-family: $font-family;
  &:hover {
    transition: color 100ms ease-out;
    color: white;
    &::before {
      transform: translate(-50%, -50%) scale(1);
      transition: transform 100ms ease-out;
    }
  }
  &::before {
    content: "";
    // z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: $secondary;
    height: 350%;
    width: 150%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 100ms ease-out;
  }
  span {
    position: relative;
    // TODO: some kind of min-width or no-wrap to prevent this line from breaking
  }
}
