.Viewer {
  position: relative;
  background-color: #1f1f1f;
  overflow-y: auto;
}

/*
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
*/

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #6e6e6e #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: #727272;
  border-radius: 10px;
  border: 2px solid rgb(20, 20, 20);
}
