@import "../../variables.scss";

// TODO: limit overflow-y scrollbar to Filelist only (Upload button should not scroll)

.Sidebar {
  z-index: 2;
  position: relative;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.Sidebar-content {
  // If there are so many files that a scrollbar is needed
  overflow-y: auto;

  // Minimize-maximize functionality

  // Transition doesn't work because I need overflow-x: hidden on .Sidebar, but doing that
  // makes it impossible to show the Burger outside the Sidebar. So... I'm just skipping it
}

.Sidebar-content.hidden {
  width: 0;
}
