@import "../../variables.scss";

// TODO: limit overflow-y scrollbar to Filelist only (Upload button should not scroll)

.Sidebar {
  z-index: 2;
  position: relative;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.Sidebar-content {
  // If there are so many files that a scrollbar is needed
  overflow-y: auto;
}

.Sidebar-content.hidden {
  width: 0;
}
