@import "../../variables.scss";

.Sidebar {
  position: relative;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: auto;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.Sidebar.hidden {
  overflow-x: hidden;
  width: 0;
}