@import "../../variables.scss";

.QuickNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: $font-family;
  color: $primary;
  background-color: $darker;

  // Ensures Burger menu doesn't cover QuickNav's previous file button
  // when the open file has a very long name
  margin: 80px 0;
}
