@import "../../variables.scss";

.QuickNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: $font-family;
  color: $primary;
  background-color: $darker;
  // background-color: $dark;
}
