@import "./variables.scss";

// Reset styles
* {
  margin: 0;
  padding: 0;
}

// Fullscreen application
html,
body,
#root,
#root > div {
  height: 100%;
}

// Default font size and background color
body {
  font-size: 16px;
  background-color: $darker;
}
